# Compiled class file
*.class
build/
!components/ui/dashboard/build

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.nar
*.ear
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# docs
docs/_build/

.vscode/
.idea
.project
.classpath
.gradle
**/WebContent/WEB-INF/application.properties
**/WebContent/WEB-INF/version

/components/java/racm/src/main/resources/config.properties
/components/java/racm/src/main/resources/jobm.properties
/components/java/racm/src/main/resources/login.properties
/components/java/racm/src/main/resources/jpa-config.properties
/components/java/racm/src/main/resources/racm.properties
/components/java/racm/src/main/resources/runtime.properties
/components/java/racm/src/main/resources/application.properties

node_modules/
# fileservice config artifact
components/java/c: