<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- The following line is not rendered due to the th:remove attribute, hence "SciServer" is not a parameter -->
<title th:remove="all">SciServer Registration</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p>Hello <span th:text="${username}">UserName</span>!</p>
	<p>
		We have received a password reset request for <span th:text="${appName}">SciServer</span>.
		<a href="/reset-password-validation" th:href="@{${emailCallback} + '/reset-password-validation'(code=${code})}">
			Click here
		</a> to choose a new password for your account.
	</p>
	<p>
		This link will expire after <span th:text="${expirationTime}">10</span> minutes.
	</p>
	<p>
		For additional assistance, or if you did not request this reset, please email our
			<a href="helpdesk@sciserver.org" th:href="'mailto:' + ${helpdeskEmail}">help desk</a>.
	</p>
	<p>
		&hellip;<br /> <em>The <span th:text="${appName}">SciServer</span> Team</em>
	</p>
</body>
</html>